<a
  style="cursor: pointer"
  class="list-group-item clearfix"
  [routerLink]="['/recipes', index]"
  routerLinkActive="active">
<!--  (click)="onSelected()">-->
  <div class="float-sm-start">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{recipe.description}}</p>
  </div>
  <span class="float-sm-end">
        <img
          [src]="recipe.imagePath"
          alt="{{recipe.name}}"
          class="img-responsive"
          style="height: 70px; width: 130px;">
      </span>
</a>
